body{
background-color:#000000; 
overflow-x: hidden;
}

.page{
background-image: url(../images/background.png);  
margin:auto;
width:960px;
height:883px;	
}

.logo img{
margin: 0px;	
margin-top:131px;
margin-left:67px;
}

.logo p{
color:#d1d1d1;
font-family:Arial Narrow;
font-size:13px;
margin: 0px;	
margin-top:3px;
margin-left:155px;
}

.palm_tree img
{
position: relative; 
top: -133px; 
left: 207px; 	
}

.contact p{
color:#ffffff;
font-family:Arial Narrow;
font-size:13px;	
line-height: 3%;
}

.contact p:first-child{
line-height:1.0;
}

.contact{
position: relative; 
top: -210px; 
left: 755px; 
}

.menu{
margin:auto;
position: relative; 
top: -223px; 
left:-47px;
margin-left:73px;
margin-top:17px;
padding:0px;
height:451px;
width:940px;
}

.menu img{	
-moz-border-image:url(../images/ramka-fill.png);
-webkit-border-image: url(images/ramka-fill.png); 
border-style: solid;
}

.menu figure{
display: inline-block;
padding:0px;
margin-right:-28px;	
}

.menu figure:nth-child(3){
display: inline-block;
margin-right:0px;	
}

.menu figure:nth-child(6){
display: inline-block;
margin-right:0px;	
}

.menu a{
text-decoration:none;
color:#ffffff;
font-family:Arial Narrow;
font-size:15px;
text-align:center;	
}

.name_foot{
margin:auto;
margin-top:-25px;
width: 180px;
padding:0px;
color:#ffffff;
font-family:Arial Narrow;
font-size:13px;
}